body {
	background: url("images/landscape2.jpg");
	/* background-size: 1000px 1000px; */
	background-repeat:  no-repeat;
}
.container {
	
	border: 1px solid black;
	background-color: lightblue;
	opacity: .8;
	text-align: center;
	margin: 5% 25% 5% 25%;
}
.current-temp {
	opacity: none;
}
#current-city {
	margin-top: 25%;
}
#weather-icon img {
	width: 100px;
	margin-top: 10%;
}

.report {
	font-size: 20px;
	font-weight: bold;
}

.wait {
	visibility: hidden;
}
.forecast {
	font-size: 13px
}